/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

#bar-container {
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
}

#volume-bar {
  width: 0%;
  height: 100%;
  background-color: #5b429f;
}

#radius-bar {
  width: 0%;
  height: 100%;
  background-color: #3e6eac;
}

#height-bar {
  width: 0%;
  height: 100%;
  background-color: #b84d46;
}

#volume-rate-bar {
  width: 0%;
  height: 100%;
  background-color: #8d7cbd;
}

#radius-rate-bar {
  width: 0%;
  height: 100%;
  background-color: #7a9ac6;
}

#height-rate-bar {
  width: 0%;
  height: 100%;
  background-color: #ce837e;
}

#info {
  font-size: larger;
}

canvas {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#volume-formula {
  font-size: 2rem;
}

#desmos-graph {
  margin-top: 2rem;
}

#display,
#ratesDisplay {
  display: inline-block;
  border: 2px solid grey;
  border-radius: 3px;
}
