:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #242424; /* dark background */
  --text-color: rgba(255, 255, 255, 0.87); /* light text */
  --input-border: #ccc;
}

:root[data-theme='light'] {
  --bg-color: #ffffff; /* light background */
  --text-color: #000000; /* dark text */
  --input-border: #888;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

input,
button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#bar-container {
  width: 200px;
  height: 20px;
  border: 1px solid #ccc;
}

#volume-bar {
  width: 0%;
  height: 100%;
  background-color: #5b429f;
}

#radius-bar {
  width: 0%;
  height: 100%;
  background-color: #3e6eac;
}

#height-bar {
  width: 0%;
  height: 100%;
  background-color: #b84d46;
}

#volume-rate-bar {
  width: 0%;
  height: 100%;
  background-color: #8d7cbd;
}

#radius-rate-bar {
  width: 0%;
  height: 100%;
  background-color: #7a9ac6;
}

#height-rate-bar {
  width: 0%;
  height: 100%;
  background-color: #ce837e;
}

#info {
  font-size: larger;
  text-align: center;
}

canvas {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
}

#volume-formula {
  font-size: 2rem;
}

#display,
#ratesDisplay {
  display: inline-block;
  border: 2px solid grey;
  border-radius: 3px;
}

#desmos-graph {
  display: block;
  margin: 0 auto;
}

img {
  height: auto;
  width: calc(25px + 0.75vw);
}

#beta {
  font-size: 0.5rem; /* adjust as needed */
  font-weight: bold;
  margin-left: 8px; /* optional spacing from logo */
}

#image-beta-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

#theme-toggle {
  padding: 0.15rem 0.15rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
